<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.TodoList"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/chalkboard"
        android:label="Chalkboard"
        android:title = "Chalkboard">

        <!-- android:debuggable="false" -->
        >
        <activity
            android:name="com.example.CC.Chalkboard"
            android:label="Chalkboard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.CC.Classes"
            android:label="Classes"
            android:parentActivityName="com.example.CC.Chalkboard" >
        </activity>
        <activity
            android:name="com.example.CC.Questions"
            android:label="@string/title_activity_questions"
            android:parentActivityName="com.example.CC.Classes">
            <!--android:theme="@android:style/Theme.NoTitleBar">-->
            <!--<meta-data-->

                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.example.CC.Classes" />-->
        </activity>
        <activity
            android:name="com.example.CC.Comments"
            android:label="@string/title_activity_comments"
            android:parentActivityName="com.example.CC.Questions" >
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.example.CC.Questions" />-->
        </activity>
        <activity
            android:name="com.example.CC.Register"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.example.CC.Chalkboard" >
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.example.CC.ClassChat" />-->
        </activity>
    </application>

</manifest>